eclipse.preferences.version=1
<% if (!deps.empty) { %>\
org.eclipse.jdt.apt.aptEnabled=true
org.eclipse.jdt.apt.genSrcDir=${outputDir}
org.eclipse.jdt.apt.genTestSrcDir=${testOutputDir}
org.eclipse.jdt.apt.reconcileEnabled=true
<% } else { %>\
org.eclipse.jdt.apt.aptEnabled=false
org.eclipse.jdt.apt.reconcileEnabled=false
<% } %>\
